@page
@model TestModel
@{
    ViewData["Title"] = "Test";
}
@ViewData["StudentName"]
<form method="POST">
<h2>@Model.question.Title</h2>
<input type="radio" name="answer" value="@Model.question.Offer1">
<label>@Model.question.Offer1</label><br>
<input type="radio" name="answer" value="@Model.question.Offer2">
<label>@Model.question.Offer2</label><br>
<input type="radio" name="answer" value="@Model.question.Offer3">
<label>@Model.question.Offer3</label><br>
<input type="radio" name="answer" value="@Model.question.Offer4">
<label>@Model.question.Offer4</label><br>
<input type="submit" >
</form>



