@page
@model TestModel
@{
    ViewData["Title"] = "Test";
}
@ViewData["StudentName"]
<form method="POST">
<h2>@Model.question.Title</h2>
<input type="radio" name="answer" value="@Model.question.Offer0">
<label>@Model.question.Offer0</label><br>
<input type="radio" name="answer" value="@Model.question.Offer1">
<label>@Model.question.Offer1</label><br>
<input type="radio" name="answer" value="@Model.question.Offer2">
<label>@Model.question.Offer2</label><br>
<input type="radio" name="answer" value="@Model.question.Offer3">
<label>@Model.question.Offer3</label><br>
<input type="submit" value="@Model.buttonNext" asp-page-handler= "@Model.buttonNext" />
<input type="submit" value="Back" asp-page-handler="Back" disabled="@Model.buttonBack" />
</form>



